@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: #5bffa5;
}

body {
	background: linear-gradient(-45deg, #00ac78, #00ffbf, #00ffc3, #09ff2a);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

