@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: #5bffa5;
}

@font-face {
    font-family: 'hacker';
    src: url(../Assets/font/hacker.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'pixel';
    src: url(../Assets/font/pixel.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'pixel_large';
    src: url(../Assets/font/pixel_large.ttf);
    font-display: swap;
}